<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
     
    <p>If Your Location is Unavailable, Maybe the Api's Key has reached it's limit.</p>
        
        
    </div>
    
    {{>footer}}
</body>

</html>